<div class="container">
  <form
    class="form-container"
    [formGroup]="candidateForm"
    (ngSubmit)="submitCandidadateCod()"
    class="add-candidate-container"
  >
    <label for="show-candidate-status-input">Código do candidato: </label>
    <input
      id="show-candidate-status-input"
      type="number"
      formControlName="codCandidato"
      placeholder="1000"
    />
    <button>Enviar</button>
  </form>

  <div
    class="error-container"
    *ngIf="
      codCandidato?.invalid && (codCandidato?.dirty || codCandidato?.touched)
    "
  >
    <h1 *ngIf="codCandidato?.errors?.['required']">Campo obrigatório.</h1>
    <h1 *ngIf="codCandidato?.errors?.['pattern']">
      Digite um número inteiro válido.
    </h1>
  </div>
  <!-- <div class="error-container">
    <h1
      *ngIf="
        codCandidato?.invalid && (codCandidato?.dirty || codCandidato?.touched)
      "
    >
      Campo obrigatório.
    </h1>
    <h1 *ngIf="codCandidato?.errors?.['pattern']">
      Digite um número inteiro válido.
    </h1>
  </div> -->

  <div class="error-container">
    <h1 *ngIf="candidatoStatus === 'Candidato não encontrado'">
      {{ candidatoStatus }}
    </h1>
  </div>

  <div class="success-container">
    <h1
      *ngIf="candidatoStatus && candidatoStatus !== 'Candidato não encontrado'"
    >
      Status do candidato pesquisado: {{ candidatoStatus }}
    </h1>
  </div>
</div>
