<div class="container">
  <form
    class="form-container"
    [formGroup]="candidateForm"
    (ngSubmit)="submitCandidateName()"
    class="add-candidate-container"
  >
    <label for="add-candidate-input">Nome do candidato: </label>
    <input
      id="add-candidate-input"
      type="text"
      formControlName="nome"
      placeholder="Nome"
    />
    <button>Enviar</button>
  </form>

  <div
    class="error-container"
    *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)"
  >
    <h1 *ngIf="nome?.errors?.['required']">Campo obrigatório.</h1>
  </div>

  <h1 *ngIf="codCandidato === 'Candidato já participa do processo.'">
    {{ codCandidato }}
  </h1>
  <h1
    *ngIf="
      codCandidato && codCandidato !== 'Candidato já participa do processo.'
    "
  >
    Código do candidato registrado: {{ codCandidato }}
  </h1>
</div>
