<nav class="nav">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="add-candidate" routerLinkActive="active"
    >Adicionar candidato novo</a
  >
  <a routerLink="show-candidate-status" routerLinkActive="active"
    >Mostrar status de um candidato</a
  >
  <a routerLink="show-approved-candidates" routerLinkActive="active"
    >Listar candidatos aprovados</a
  >
  <a routerLink="control-candidates" routerLinkActive="active"
    >Controle de candidatos</a
  >
</nav>

<router-outlet></router-outlet>
