.container {
  margin-bottom: 2rem;
}

.table-container {
  width: 90%;
  border-collapse: collapse;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
}

.table-container thead th {
  background-color: cornflowerblue;
  border-radius: 10px 10px 0 0;
  font-size: large;
  font-weight: bold;
  color: white;
}

.table-container tbody tr:nth-child(even) {
  background-color: cornsilk;
}

.table-container .last-row td:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.table-container tbody tr:hover {
  background-color: azure;
}
