.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.advanced-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.advanced-search-container label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.advanced-search-container input {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.table-container {
  width: 90%;
  border-collapse: collapse;
  background-color: bisque;
  border-radius: 10px;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
}

.table-container thead th {
  background-color: cornflowerblue;
  border-radius: 10px 10px 0 0;
  font-size: large;
  font-weight: bold;
  color: white;
}

.table-container tbody tr:nth-child(even) {
  background-color: cornsilk;
}

.table-container .last-row td:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.table-container tbody tr:hover {
  background-color: azure;
}

.control-candidates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons-container button {
  margin: 0 0.5rem;
}

.message-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.message-container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: crimson;
}
